<h1 class="cover-heading">Welcome !</h1>
<p class="lead">This is a demonstration application showing the simplicity and
security of authenticating yourself with your Bitcoin wallet.</p>
<p class="lead">
  <a href="#" class="btn btn-lg btn-default">Sign me in with my Bitcoin address !</a>
</p>