<div class="jumbotron">
  <h1>BitID demonstration</h1>
  <p class="lead">With BitID you can sign up to any service. It's secure, quick and easy. Please have your wallet ready !</p>
  <p><a class="btn btn-lg btn-success" href="/login" role="button">Sign me in with my Bitcoin address</a></p>
</div>
