<!DOCTYPE html>
<html>
<head>
  <title>BitID Open Protocol - Demonstration site</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li class="active"><a href="#">Demonstration</a></li>
        <li><a href="#">GitHub</a></li>
        <li><a href="#">About</a></li>
      </ul>
      <h3 class="text-muted">BitID</h3>
    </div>

    <%= yield %>

    <div class="footer">
      <p>Source code of this website on <a href="https://github.com/bitid/bitid-demo">GitHub</a>, by <a href="https://twitter.com/EricLarch">@EricLarch</a></p>
    </div>

  </div> 

</body>
</html>
